body {
	/*background-image: url("background.jpg");*/
}

#roomIDButton {
	display: none;
}

#nonexist {
	background-color: #ff3232;
	border: 1px solid #ff3232;
	display: none;
}

#search {
	width: 400px;
	margin-bottom: 30px;
}

#init {
	width: 100%;
	text-align: center;
	color: white;
}

#roomIDButton {
	font-size: 20px;
}
#roomIDButton:hover {
	cursor: default;
}

#join, #new {
	width: 180px;
	color: black;
	background-color: white;
}

#thisRoom {
    list-style: none;
}

#thisRoom input:hover {
	cursor: default;
}
#thisRoom input {
	margin: 0 5px 10px 0;
	background-color: #ff8f00;
	border: 0px solid white;
}

#vid {
    text-align: center;
    min-width: 100%;
}

#searchResult {
	margin: 0 40px 10px 40px;
	text-align: center;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 2px 10px 0 rgba(0,0,0,0.18);
	padding: 10px 10px 10px 10px;
}

#searchResult img {
	float: left;
}