body {
	background-image: url("background.jpg");
}

#roomIDButton {
	display: none;
}

#search {
	width: 400px;
	margin-bottom: 30px;
}

#init {
	text-align: center;
	color: white;
	padding: 10px;
	background-color: white;
}

#roomIDButton {
	font-size: 20px;
}
#roomIDButton:hover {
	cursor: default;
}

#join, #new {
	width: 180px;
	color: black;
	background-color: white;
}

#thisRoom {
    list-style: none;
}

#thisRoom input:hover {
	cursor: default;
}
#thisRoom input {
	margin: 0 5px 10px 0;
	background-color: #ff8f00;
	border: 0px solid white;
}

#vid {
    text-align: center;
    min-width: 100%;
}

#init, #searchResult {
	margin: 10px 40px 40px 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18), 0 2px 10px 0 rgba(0,0,0,0.18);
}

#searchResult {
	
	text-align: center;
	background-color: white;
	padding: 30px 30px 30px 30px;
}

#searchResult img {
	float: left;
}

.sr {
	height: 110px;
}

.sr b, .sr p {
	float: left;
}

.sr b {
	margin: 0 0 0 20px;
	font-size: 20px;
}

.sr p {
	margin: 0px 5px 0 20px;
}